//COLORS
$color-primary: #045de9;
$color-primary-light: #09c6f9;
$color-primary-dark: #0248b9;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID 
$grid-width: 114rem;
$gutter-vertial: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.6rem;