//COLORS
$color-primary: #045de9;
$color-primary-light: #09c6f9;
$color-primary-dark: #0248b9;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#7ed56f;
$color-tertiary-dark:#28b485;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID 
$grid-width: 114rem;
$gutter-vertial: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.6rem;




/* 
** Change this if you need to modify
** the amount of lines displayed
*/
$total-lines: 5;


/*
** Leave these unless you want
** to open a whole can of worms
*/
$left-offset: 29px;
$clip-height: 50px;
$line-height: $clip-height - 5px;